* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* testo spostato */
main {
    margin-left:25%;
    margin-top:25;
    background-color: white;
    
}
/* header */
header{
    background-color: white;
}
header img {
    vertical-align: middle;
}


header span {
    line-height: 30px;
    vertical-align: middle;
    
}

.logosito {
    height: 100px;
    padding-left: 30px;
    padding-top: 10px;
    
}

.nomesito{
    font-size: 60px;
    height: 30px;
    padding-top: 10px;
    
    
}

/* navigazione */
#nav {
    padding: 10px 10px;
    
}



/*Parte centrale*/
main{
    background-color: white;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;;
}
.addsection{
    background-color:grey;
    border-radius: 10px;
    padding: 5px;
    color:white 
    

}

.nonfatto{
    color: red;
    padding: 10px;
}

.fatto{
    padding: 5px 7px;
    border: 1px;
    border-radius:50%;
    

}

.boxazzurra{
    background-color:cornflowerblue;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    
}

.compiti{
    padding: 10px;
}

.boxviola{ background-color:rgb(122, 14, 113);
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

.boxverde{ background-color:rgb(15, 129, 82);
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

.boxarancione{ background-color:rgba(255, 166, 0, 0.966);
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

.boxrosa{ background-color:rgb(202, 68, 169);
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

.boxlime{ background-color:lime;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px;

}